body {
    background-color: rgba(161, 152, 229, 0.22);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

nav {
    list-style-type: none;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}

a:visited {
    color: black;
}

a:active {
    color: #000;
}

li {
    display: inline-block;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

a:hover {
    transform: scale(1.5);
}

header {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    height: auto;
    flex-wrap: wrap; 
    text-align: center;
}

.Banner {
    margin-top: 0;
    max-width: 100%;
    height: auto;
}

main {
    background-image: url('path/to/image.jpg');
    padding: 20px;
}

.Lore {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-weight: 600;
    text-align: center;
    line-height: 1.5; 
    padding: 10px;
    overflow: hidden; 
}

@media (max-width: 500px) { 
    body {
        font-size: large; 
    }

    .Lore {
        font-size: medium;
        height: auto; 
        line-height: 1.4; 
        padding: 15px; 
    }

    a:hover {
        transform: none;    
    }
}
